--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.8.1/constraints-3.11.txt"

apache-airflow-providers-snowflake==5.2.1
apache-airflow-providers-mysql==5.5.1

apache-airflow-providers-airbyte==3.5.1
apache-airflow-providers-slack==8.5.1
virtualenv==20.25.0

#dbt
dbt-core==1.7.7
dbt-redshift

#other
pandas==2.1.4
